<!DOCTYPE html>
<html  lang="en">

<head>
    <% include ../others/head.ejs %>
    <link rel="stylesheet" href="css/signin.css">
</head>

<body id="form-conn">

    <div id="bg-forget"></div>

    <section class="container-fluid text-center">
    <form class="form-signin" action="forget_password" method="POST">
        <div class="title">
                <a href="/">Forget</a>
        </div>
        <input type="email" class='form-control mb-3 rounded' name="email" placeholder="Email" required autofocus>
       
        <button class="btn btn-lg btn-light btn-block" type="submit">Sign in</button>
        

        <p class="txt-register"><a href="/login" >Sign-in</a></p>
    </form>
</section>


    <% include ../others/footer.ejs %>
</body>
</html>